
header {
    display:flex;
    color: white;
    background-color: #495C83;
    padding: 20px;
    flex-direction:row;
    justify-content:space-between;
}
nav {
    color: black;
    background-color: #EAF6F6;
}
section {
    grid-column: 1/4;
    background-color: #7A86B6;
}
aside {
    grid-column: 4/5;
    background-color: #A8A4CE;
}
footer {
    color: black;
    padding:30px;
    background-color: #C8B6E2;
}
main {
   display:grid;
   grid-template-columns:1fr 1fr 1fr 1fr;
}
.menu{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}